<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="arrow-back" *ngIf="state === 'test'" (click)="back()"></ion-icon>
      Certification Prep
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        <ion-icon name="arrow-back" *ngIf="state === 'test'" (click)="back()"></ion-icon>
        Certification Prep
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="state === 'select'">
    <div *ngFor="let item of certs" class="button">
      <div (click)="selected(item.id)">
        <div class="text">{{item.title}}</div>
      </div>
    </div>
  </div>
  <div *ngIf="state === 'test'">
  
      <div *ngFor="let item of certs">
        <div *ngIf="item.id == id">
          <div> {{item.title}} </div>
          <!--loop with questions-->
        </div>
      </div>
  </div>

  
</ion-content>
