.button {
  width:95%;
  height: 70px;
  text-align: center;
  color: #352918;
  background-color: #d3b98b;
  border: 3px solid;
  border-color: #352918;
  border-radius: 25px;
  margin: 10px;
}

.text {
  font-weight: bold;
  margin-top: 20px;
  font-size: 30px;
  display: inline-block;
  vertical-align: sub;
}