<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="arrow-back" *ngIf="state === 'lesson'" (click)="back()"></ion-icon>
      Lessons
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        <ion-icon name="arrow-back" *ngIf="state === 'lesson'" (click)="back()"></ion-icon>
        Lessons
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <div *ngIf="state === 'select'">
    <div *ngFor="let item of lessons" class="option">
      <div (click)="selected(item.id)">
        <div>{{item.title}}</div>
      </div>
    </div>
  </div>
  <div *ngIf="state === 'lesson'">
  
      <div *ngFor="let item of lessons">
        <div *ngIf="item.id === id">
          <div> {{item.title}} </div>
          <div>{{item.content}}</div>
          <div>{{item.comprhension.question}} </div>
          <!--<ion-list>
          <div *ngFor="let a of item.comprhension.answers"> 
            <ion-radio-group value="answer1" name="check">
              <ion-item>
                <ion-label>{{a}}</ion-label>
                <ion-radio slot="end" value="{{a}}" name="check"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </div>
        </ion-list>-->
        </div>
      </div>
  </div>
</ion-content>
