<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="arrow-back" *ngIf="state === 'lesson'" (click)="back()"></ion-icon>
      Lessons
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        <ion-icon name="arrow-back" *ngIf="state === 'lesson'" (click)="back()"></ion-icon>
        Lessons
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <div *ngIf="state === 'select'">
    <div *ngFor="let item of lessons" class="button">
      <div (click)="selected(item.id)">
        <div class="text">{{item.title}}</div>
      </div>
    </div>
  </div>
  <div *ngIf="state === 'lesson'">
  
      <div *ngFor="let item of lessons">
        <div *ngIf="item.id === id">
          <div class="title"> {{item.title}} </div>
          <div class="content">{{item.content}}</div>
          <div class="line"></div>
          <div class="question">{{item.comprhension.question}} </div>
          <!--loop with answers-->
        </div>
      </div>
  </div>
</ion-content>
