<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About Us</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <div class="header">What is Salus Education 101?</div>
    <div class="text">Salus Education 101 or SE101 wants to work to change the fact that the majority of security attacks come from user error. The app aims to use simple lessons and certification practice to focus on creating users that are more security concious. </div>
    <div class="logo">
      <img src="assets/image.png"/>
    </div>
    <div class="header">Who is Salus?</div>
    <div class="text">Salus is a cybersecurity company that focuses on the education and training of end users and professionals. We consist of four GCU students, 2 majoring in IT and 2 in CyberSecurity. We desire to use our talents to help create a world in which all are better protected.</div>
    <div></div>
  </div>
</ion-content>
